.labelTerms {
    font-size: x-small;
}

.loginCard {
    background-color: #007bff;
}

.clrWhite {
    color: white;
}

.clrAtn {
    color: #dbdbdb;
}

.marginBtm2 {
    margin-bottom: 2rem;
}

.height375 {
    height: 310px;
}

.marginBtm1 {
    margin-bottom: 1rem;
}

.imgLgn {
    height: 80px;
    margin-top: 50px;
}


.marginTop2 {
    margin-top: 2rem;
}